<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Insert title here</title>
<!-- css -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/custiom.css}" rel="stylesheet" />
<!-- java scripts  -->
<script type="text/javascript" th:src="@{/scripts/bootstrap.min.js}" />
<title>bad</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1 class="text-center alert alert-danger">BAAAAAAAAD, VERY BAD</h1>
		</div>
	</div>
</body>
</html>