<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<!-- css -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/custiom.css}" rel="stylesheet" />
<!-- java scripts  -->
<script type="text/javascript" th:src="@{/scripts/bootstrap.min.js}" />
<title>index</title>
</head>
<body>
	<div class="container">
		<div class="row align-items-center">
			<div class="col text-center">
				<h1 class="alert alert-info">Hello Great Master Roma</h1>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<a th:href="@{registration.html}">click to registration</a>
			</div>
		</div>
	</div>
</body>
</html>